.navbar{
  margin-top: 3em;
  margin-right: 10em;
}

.nav-item{
  margin-left: 10em;
}

.nav-link {
  color: white;  

  }
  
  .nav-link:hover {
  color: black;
  transition: .3s;
  }

.quiz_card_area{position: relative;margin-bottom: 10px;}
.single_quiz_card{
    border:1px solid #efefef;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.quiz_card_title{
    padding: 10px;
    text-align: center;
    background-color: #d6d6d6;
}
.quiz_card_title h3{
    font-size: 16px;
    font-weight: 400;
    color: #292d3f;
    margin-bottom: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.quiz_card_title h3 i{opacity: 0;}
.quiz_card_icon{
    max-width: 100%;
    min-height: 135px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz_icon {
    width: 70px;
    height: 75px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.quiz_icon1{
    background-image: url('https://img.icons8.com/ios-filled/32/000000/maxcdn.png');
}

.quiz_checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  cursor: pointer;
}  
.quiz_checkbox:checked ~ .single_quiz_card{border: 1px solid #2575fc;}
.quiz_checkbox:checked:hover ~ .single_quiz_card{border: 1px solid #2575fc;}

.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_title{background-color:#2575fc; color: #ffffff;}
.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_title h3{color: #ffffff;}
.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_title h3 i{opacity: 1;}
.quiz_checkbox:checked:hover ~ .quiz_card_title{border: 1px solid #2575fc;}

/*Icon Selector*/

.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_icon {color: #2575fc;}
.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_icon .quiz_icon1{
  background-image: url('https://img.icons8.com/nolan/32/000000/maxcdn.png');
}

.quiz_card_icon{
  font-size: 50px;
  color: #000000;
}

.img-begin{
  position: absolute;
  justify-content: center;
  align-content: center;
  max-width: 100%;
  height: 60%;
  margin-left: 40px;
}